@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

html,
body {
    background-color: rgb(42, 56, 70);
    color: rgb(133, 152, 170);
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    padding: 0.5rem;
    color: azure;
    border-style: none;
    border: 2px solid white;
    border-radius: 2rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

a:hover {
    background-color: azure;
    color: rgb(26, 40, 53);
}

img {
    padding: 0.25rem;
    border: 1px solid slategray;
    border-radius: 1rem;
    background-color: azure;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all .2s ease-in-out;
}

img:hover {
    padding: 0rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0px;
    transform: scale(1.05);
}